@import "./reset.css";

/*seção sobre mim*/
.sobre {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--containerWidth);
  padding: 0 2em;
  font-family: var(--fontQuilone);
  margin: var(--margin);
  gap: 10em;
  
  h2 {
    letter-spacing: -4px;
    font-size: 4em;
    margin-top: 2em;
    text-align: center;
  }
}

.me,
.gostos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 18em;
  margin-top: 4em;
}

.meParagrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  p {
    font-size: 1.3em;
    width: 24em;
    color: rgb(149, 177, 132);
  }
}

.meFoto {
  width: 40em;
  height: auto;
  animation: turn1 2s ease forwards;
  overflow: hidden;
}

.meFoto img {
  width: 50em;
  object-fit: contain;
  margin: 0 0 6em 8em;
  transform: rotate(-5deg);
}

.Foto {
  width: 40em;
  height: auto;
  animation: turn1 2s ease forwards;
  overflow: hidden;
}
.Foto img {
  width: 50em;
  object-fit: contain;
  margin: 0 0em 4em -22em;
  transform: rotate(5deg);
}

.divisao {
  width: 24em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.42);
}

.conectar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70em;
  font-family: var(--fontQuilone);
  margin-top: 20em;
  gap: 4em;

  h2 {
    font-size: 4em;
    margin: var(--margin);
  }
}

.conectar img {
  width: 10em;
}

#seta {
  position: absolute;
  top: 238em;
  left: 62em;
  width: 16em;
  transform: rotate(-20deg);
  display: none;
}
