/*Footer style*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8em 1em 0em 1em;
  padding-top: 2em;
}

.footerLogo svg{
    width: 16em;
}


.social{
    margin-left: 38em;
}
.social svg{
  width: 4em;
}

.social svg:hover {
  transform: rotate(-10deg) scale(1.1);
}
.footerLogo img {
  width: 180px;
}
