/* apenas para efeito blur do menu */
.nav {
  position: fixed;
  top: 0em;
  left: 0;
  width: 100%;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555d6833;
  backdrop-filter: blur(20px);
  mask-image: linear-gradient(
    to bottom,
    rgb(16, 13, 176) 10%,
    transparent 100%
  );
  z-index: 80;
}

/*estilo do nav*/
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  align-items: center;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
  width: 40em;
  height: 4em;
  margin: 0em auto;
  padding: 0.5em;
  font-weight: bold;
  border-radius: var(--radiusNav);
  border: 2px solid #b1f3ad87;
  backdrop-filter: blur(40px);
  background: #b7ffa462;
  z-index: 90;

  .links {
    display: flex;

    button {
      display: none;
    }
  }

  .popup {
    display: none;
  }
}

.menu a {
  font-size: 1.6em;
  opacity: 0.5;
  padding: 0.4em;
  text-shadow: 1px 2px 1px #07230d;
  transition: var(--transition);
  color: var(--fontColor);
}

.menu a:hover {
  opacity: 1;
  background-color: #59854de1;
  overflow: hidden;
  border-radius: 24px;
}

/*primeira tela nome*/
.name {
  width: 60em;
  min-height: 100dvh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: var(--centerMargin);
  color: #000000;

  -webkit-animation: nameSteps 0.8s steps(5, end) both;
	        animation: nameSteps 0.8s steps(5, end) both;

  h1 {
    font-size: clamp(6vw, 10em, 6vw);
    letter-spacing: -6%;
    font-family: var(--fontAclonica);
        text-shadow: var(--txtShadow);
        

  }

  p {
    font-family: var(--fontSynonym);
    font-size: 4vw;

  }
}


.nameCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sub {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1em;
}

#dev {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 900;
  font-style: bold;
          text-shadow: 1px 4px 1px rgba(0, 0, 0, 0.35);

}

#designer {
  font-family: "Oregano", cursive;
  font-weight: 900;
  font-style: normal;
  text-shadow: var(--txtShadow);

}

.name img {
  width: 14vw;
}

/* MOBILE STYLE */

@media screen and (max-width: 580px) {
  /*estilo do nav*/
  .menu {
    display: flex;
    position: fixed;
    align-items: center;
    top: 92%;
    left: 50%;
    transform: translate(-50%);
    width: 16em;
    height: 0em;
    margin: 0em auto;
    padding: 1.5em;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: all ease-in-out 100ms;

    .popup {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      img {
        width: 32px;
        border-radius: 6px;
      }

      button,
      a {
        background-color: transparent;
        border: none;
        opacity: 1;
      }
    }

    .links {
      display: none;
    }
  }

  .menuActive {
    display: flex;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100dvh;
    border-radius: 0;
    border: 2px solid #b1f3ad87;
    backdrop-filter: blur(14px);
    background: #b7ffa462;
    touch-action: none;
    animation: none;

    .popup {
      display: none;
    }

    .links {
      display: flex;
      position: fixed;
      align-items: center;
      top: 25%;
      left: 50%;
      transform: translate(-50%);
      width: 22em;
      height: 31em;
      padding: 0.5em;
      flex-direction: column;
      align-content: center;
      justify-content: space-evenly;
      border-radius: var(--radiusNav);
      border: 3px solid #c2ebc087;
      backdrop-filter: blur(10px);
      background: #6e9e628c;

      #xIcon {
        background-color: transparent;
      }

      img {
        width: 32px;
        border-radius: 6px;
      }

      button {
        display: flex;
        background-color: transparent;
        border: none;
      }

      a {
        opacity: 1;
        font-size: 2.2em;
        font-family: var(--fontQuilone);
      }
    }
  }

  .name {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0em;
    color: #10101a;
    animation: nameSteps steps(4) forwards 2s;

    h1 {
      font-size: 24vw;
      letter-spacing: -10px;
      font-family: var(--fontAclonica);
    }

    p {
      font-family: var(--fontSynonym);
      font-size: 9vw;
    }
  }

  .name img {
    width: 60vw;
  }

  .nameCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    width: 100%;
  }

  .sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    font-size: 3vw;
  }

  #dev {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 900;
    font-style: bold;
    letter-spacing: -4px;
  }
}
/* MOBILE STYLE LANDSCAPE */

@media (min-width: 581px) and (max-width: 966px) {
  /* apenas para efeito blur do menu */
  .nav {
    position: fixed;
    top: 0em;
    left: 0em;
    width: 100%;
    height: 6em;
    z-index: 80;
  }

  /*estilo do nav*/
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    align-items: center;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    width: 50vw;
    height: 4vw;
    margin: 0em auto;
    padding: 0.5em;
    font-weight: bold;
    border-radius: var(--radiusNav);
    border: 2px solid #b1f3ad87;
    backdrop-filter: blur(40px);
    background: #b7ffa462;
    z-index: 90;
    white-space: nowrap;
  }
  .links {
    display: flex;
    a {
      text-align: center;
      font-size: 2vw;
    }
  }
  /*primeira tela nome*/
  .name {
    width: 100vw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: var(--centerMargin);
    color: #10101a;
    align-content: center;
    justify-content: center;
    animation: nameSteps steps(4) forwards 2s;
    align-items: center;

    h1 {
      font-size: 13vw;
      letter-spacing: -10px;
      font-family: var(--fontAclonica);
    }
  }

  .nameCard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .sub {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5vw;
    gap: 0.5em;
  }

  .name img {
    width: 14vw;
  }
}
