@import "./reset.css";



/*seção dos projetos*/
.projetos {
  width: var(--containerWidth);
  font-family: var(--fontQuilone);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--centerMargin);

  h2 {
    letter-spacing: -4px;
    font-size: 4em;
    margin-top: 0.5em;
  }

  h3 {
    font-size: 1.5em;
    margin: 0.5em 0em 0em 0em;
  }
}

#projetosDescription {
  margin-left: 16em;
  width: 16em;
  text-align: center;
  font-family: "covered by your grace";
  font-size: 32px;
  color: rgb(155, 187, 132);
  transform: rotate(-5deg);
}

/*container com as imagens dos projetos*/
.projetosCases {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 2em;
  justify-content: center;
  gap: 2em 4em;

  /*>>>>> posições dos projetos no container*/
  .case1 {
    position: relative;
    top: 1em;
    left: 6em;
    transform: rotate(-2deg);
  }

  .case2 {
    position: relative;
    top: 10em;
    left: 0em;
    transform: rotate(2deg);
  }

  .case3 {
    position: relative;
    top: 0em;
    left: 0em;
    transform: rotate(2deg);
  }

  .case4 {
    position: relative;
    top: 10em;
    left: -6em;
    transform: rotate(-2deg);
  }

  .case5 {
    position: relative;
    top: 0em;
    left: 0m;
    transform: rotate(2deg);
  }
  .case6 {
    position: relative;
    top: 6em;
    left: 0em;
  }
  .case7 {
    position: relative;
    top: -8em;
    left: 6em;
    transform: rotate(2deg);
  }

  /*posições dos projetos no container <<<<<<<<*/

  /*>>>>>>> Hover das imagens*/
  .case3 img:hover,
  .case1 img:hover,
  .case5 img:hover,
  .case6 img:hover {
    transform: rotate(3deg);
    transition: var(--trasition);
  }

  .case2 img:hover,
  .case3 img:hover,
  .case4 img:hover,
  .case7 img:hover {
    transform: rotate(-3deg);
    transition: var(--trasition);
  }
  /*Hover das imagens <<<<<<<<*/
}

/*cards com imagem e titulo*/
.projetosCard {
  margin: 1.5em;
  width: min-content;

  span {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-weight: 900;
    width: max-content;
  }

  /*tamanho das imagens*/
  img {
    border-radius: 16px;
    width: 24em;
    object-fit: cover;
    border: 8px solid whitesmoke;
  }

  .tag {
    display: inline-block;
    background-color: rgba(60, 167, 72, 0.574);
    color: rgba(144, 232, 152, 0.81);
    padding: 0.2em 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 4px;
    font-size: 0.8em;
  }
}

/*Mais Projetos*/
.maisProjetos {
  font-family: var(--fontQuilone);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em auto 6em auto;

  span {
    letter-spacing: -4px;
    font-size: 4em;
  }

  img {
    width: 10em;
    border-bottom: 2px solid olivedrab;
  }
}

/*Linha do tempo*/
.timeline {
  width: var(--containerWidth);
  display: flex;
  flex-direction: column;
  margin: var(--centerMargin);

  h2 {
    font-family: var(--fontQuilone);
    font-size: 4em;
    letter-spacing: -4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
  }

  span {
    font-family: var(--fontSynonym);
    font-size: 1em;
  }

  p {
    font-family: var(--fontQuilone);
    font-size: 1.1em;
  }
}

#Description {
  margin: var(--centerMargin);
  width: 16em;
  text-align: center;
  font-family: var(--fontHandWrite);
  font-size: 24px;
  color: rgb(155, 187, 132);
  transform: rotate(5deg);
}

.timelineContainer {
  display: flex;
  flex-direction: column;
}
.timelineItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}
.timelineDate {
  display: none;
}

.item img {
  width: 6em;
}
.item img:hover {
  transform: rotate(5deg) translateY(-5px);
  transition: var(--trasition);
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5em;
}

.trilha img {
  width: 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
}

/* seção processo */

.processo {
  width: var(--containerWidth);
  display: flex;
  flex-direction: column;

  span {
    font-family: var(--fontQuilone);
    font-size: 2.5em;
  }

  h2 {
    margin: 1em 0 2em 0;
  }
}

.processoCase img {
  width: 14em;
  object-fit: contain;
}

.Direita {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  text-align: center;
  align-items: center;
  padding-right: 10em;
}

.Esquerda {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  text-align: center;
  align-items: center;
  padding-left: 10em;
}
.processoTexto {
  width: 40em;
}
