
/*estilo do Container*/

.container{
  display:block;

  /*Estilo de todos H2*/
.titulo{
  margin-top: 1em;
  opacity: 0;
  font-family: var(--fontQuilone);
  text-align: center;
  align-items: center;
  letter-spacing: -4px;
  font-size: 6em;
}

.tituloAtivo{
    opacity: 1;
    animation: textfade  0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Estilo de todos H3*/
  h3 {
    font-size: 1.5em;
    margin: 0.5em 0em 0em 0em;
  }

}

/*seção dos projetos*/
.projetos {
  width: var(--containerWidth);
  font-family: var(--fontQuilone);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--centerMargin);
}

.projetos img{
  transition: var(--transition);  
}

.Description {
opacity: 0;
}

.Description.spanativo {
  opacity: 1;
  white-space: nowrap;
  width: 50%;
  height: 4em;
  margin-left: 6em;
  font-family: var(--fontHandWrite);
  font-size: 2.5em;
  color:var(--spanColor);
  overflow: hidden;
    animation: spanfade 3s steps(40);
  transform:rotate(-10deg);

}

/*container com as imagens dos projetos*/
.projetosCases {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 2em;
  justify-content: center;
  gap: 2em 4em;


  /*>>>>> posições dos projetos no container*/
  .case1 {
    position: relative;
    top: 1em;
    left: 6em;
    transform: rotate(-2deg);
    
  }

  .case2 {
    position: relative;
    top: 10em;
    left: 0em;
    transform: rotate(2deg);
  }

  .case3 {
    position: relative;
    top: 0em;
    left: 0em;
    transform: rotate(2deg);
  }

  .case4 {
    position: relative;
    top: 10em;
    left: -6em;
    transform: rotate(-2deg);
  }

  .case5 {
    position: relative;
    top: 0em;
    left: 0em;
    transform: rotate(2deg);
  }

  .case6 {
    position: relative;
    top: 6em;
    left: 0em;
  }

  .case7 {
    position: relative;
    top: -8em;
    left: 6em;
    transform: rotate(2deg);
  }

  /*posições dos projetos no container <<<<<<<<*/

  /*>>>>>>> Hover das imagens*/
  .case3 img:hover,
  .case1 img:hover,
  .case5 img:hover,
  .case6 img:hover {
    transform: rotate(3deg) scale(1.04);
        cursor: pointer;

  }

  .case2 img:hover,
  .case4 img:hover,
  .case7 img:hover {
    transform: rotate(-3deg) scale(1.04);
        cursor: pointer;

  }
  /*Hover das imagens <<<<<<<<*/

}

/* Estado Inicial */

.projeto {
  opacity: 0;
  margin: 1.5em;
  width: min-content;  

  img {
    border-radius: 16px;
    width: 24em;
    object-fit: cover;
    border: 8px solid whitesmoke;
  }

  .tag {
    display: inline-block;
    background-color: rgba(60, 167, 72, 0.574);
    color:var(--spanColor);
    padding: 0.2em 0.5em;
    margin: 0.5em;
    border-radius: 4px;
    font-size: 0.8em;
  }
}

.projetoAtivo {
  opacity: 1;
      animation: FadeIn 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;  
}

/*Mais Projetos*/
.maisProjetos {
  font-family: var(--fontQuilone);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em auto 6em auto;
  
  img {
    width: 10em;
  }
}

/*Linha do tempo*/
.timeline {
  width: var(--containerWidth);
  display: flex;
  flex-direction: column;
  margin: var(--centerMargin);


  p {
    font-family: var(--fontQuilone);
    font-size: 1.1em;
    color: var(--fontColor);

  }
}
.timelineContainer {
  opacity: 1;
  display: flex;
  flex-direction: column;
  
}

.timelineItemUp {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin-left: 22em;
  position: relative;
  top: 50px;
}

.timelineItemDown{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-right: 18em;

}

.timelineDate {
  display: flex;
  
}

.item img {
  width: 6em;
    transition: var(--transition);
}

.item img:hover {
  transform: translateY(-15px) 
  scale(1.1);
}

.item {
opacity: 0;

}

.itemAtivo {
  opacity: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5em;
  animation: fadeUp 2s ease-out normal forwards;

}

.LinhaDoTempo{
  width: var(--containerWidth);
  height: 12em;
  transform: translatex(-40em);
  background-image: url(../../assets/image/Pegadas.svg);
  background-repeat:repeat-x;
  background-size:contain;
  background-position:center;
  overflow: hidden;
  opacity: 0;
  animation: trilha 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  animation-timeline:view();
  animation-range: entry 100% cover 60%;
}


.trilha img {
  width: 18em;
}

/* seção skills */

.skillsContainer{
  width: var(--containerWidth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--centerMargin);
  padding-top: 4em;

  h3 {
    font-family: var(--fontQuilone);
    font-size: 2em;
    margin: 1em;
  }

  span {
    font-family: var(--fontSynonym);
    font-size: 1.2em;
    color: var(--fontColor);
    
  }
}

.skills{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 10em;
  margin: var(--centerMargin);
}

.skills img{
  width: 80px;
}

.hard, .soft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.hardSkills, .softSkills{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 22em;
  gap: 2em;
}

/* seção processo */

  .processo {
  width: var(--containerWidth);
  display: flex;
  flex-direction: column;
  margin: var(--centerMargin);

  span {
    font-family: var(--fontQuilone);
    font-size: 2.5em;
    color: var(--fontColor);

  }
}

.processoCaseAtivo{
  opacity: 1;
  transition: var(--transition);
    animation: FadeIn 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;  

}
.processoCase{
  opacity: 0;
  filter: blur(4px);
}

.processoCase img {
  width: 14em;
  object-fit: contain;
  border-radius: 18px;
}

.Direita {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  text-align: center;
  align-items: center;
  padding-right: 10em;
}

.Esquerda {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  text-align: center;
  align-items: center;
  padding-left: 10em;
}
.processoTexto {
  width: 40em;
}







