

/*MOBILE POTRAIT STYLE*/
@media (min-width: 320px) and (max-width: 767px) {
 
    body{
        margin: 0;
    }

.menu{
    display: none;
}

.name{
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 0;

    img{
        width:240px
    }
 }
  
}

.nameCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1{
    font-size: 20vw;
    letter-spacing: normal;
    }

    .sub{
            display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
            font-size: 10px;

    }
}


.projetos{
    width: 100%;   
background-color: rgb(25, 31, 37);

  .titulo{
     font-size: 70px;
 }
  .Description{
     font-size: 20px;
     margin:0;
     align-items: center;
     white-space: wrap;
    animation: textfade  0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 }

img{
    width: 400px;
}

.projeto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin: 0;
    padding: 0;
}
.projetosCases {
  display: flex;
flex-direction: column;
align-items: center;
width: 100%;
  gap: 0;
    margin: 0;
    padding: 0;

    img{
      width: 70vw;
    };

  /*>>>>> posições dos projetos no container*/
  .case1 ,
  .case2 ,
  .case3,
  .case4 ,
  .case5,
.case6 ,
.case7 {
  position: relative;
    top: 1em;
    left: 0em;
}
}

.maisProjetos{
    width: 100%;
}

}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  justify-content: center;
  z-index: 90;
  background: #e6ffeb;
  transition: var(--transition);
  animation: fadeUp 0.2s ease-out normal forwards;
}


.modal-content {
    display: flex;
    justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
    align-items: center;

  width: 40%;
  margin: 0;
  padding: 0 10em;
}

.modalImage,.modalTexto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
    width: 100%;
      padding: 0 10em;

span{
    width: 100%;
      padding: 0 1em;
      font-size: 8vw;
}
p{
    width: 80%;
      padding: 0 1em;
      font-size: 4vw;
}
}
















.modalImage img {
  width: 70vw;
 
}
