@import "./reset.css";

.modal-container:focus {
  top: 0;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background: #e6ffeb;
  transition: all ease-in 300ms;
  animation: fadeSlide 0.5s ease-out normal forwards;
}

@keyframes fadeSlide {
  0% {
    transform: translatey(10em);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: 0;
  }
}
.modal-content {
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: var(--containerWidth);
  margin: var(--centerMargin);
  padding: 0 1em;
}

.modalImage img {
  width: 100%;
  object-fit: contain;
  border-radius: 16px;
  
}

.modalImage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Left,
.right {
  padding: 0em 10em;
}
.modalTexto {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: var(--centerMargin);
  padding: 1em;
}

.modalTexto span {
  font-size: 4em;
  font-family: var(--fontQuilone);
}
.modalTexto p {
  font-size: 1.5em;
  color: rgb(149, 177, 132);
  font-family: var(--fontSynonym);
  text-align:start;
}

/*estilo do nav*/
.closeModal {
  position: sticky;
  bottom: 2%;
  left: 0%;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 16em;
  border-radius: var(--radiusNav);
  background-color: #02af1f42;
  border: 2px solid #02450d45;
  backdrop-filter: blur(40px);
  z-index: 95;
  font-family: var(--fontSynonym);
  margin: var(--centerMargin);
  gap: 10em;
}

.closeModal span {
  color: #f3ede3;
  font-size: 2em;
  text-shadow: 2px 2px 8px black;;
}

.closeModal:hover  {

  scale: 1.1;
  cursor: pointer;
  box-shadow: 1px 1px 10px black;
  transition: all ease-in 200ms; 
  
  
}
  
 