/*estilos gerais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  caret-color: transparent;
  list-style:none;
}

/*variaveis*/
:root {
  --fontQuilone: "Quilone";
  --fontSynonym: "Synonym";
  --fontHandWrite: "covered by your grace";
  --fontAclonica: "aclonica";
  --fontSize: 2em;
  --radiusNav: 50px;
  --margin: 2em auto;
  --centerMargin: 0 auto;
  --fontColor: #d5f3c8;
  --spanColor:#9fe76b;
  --txtShadow: 1px 2px 4px #07230d;

  --transition: all 0.3s ease-in-out;
  --containerWidth: 70em;

  --mTitle:16vw ;
  --mWidth:100%;
}

/*Fonte Telma*/

@font-face {
  font-family: "Telma";
  src:
    url("../../fonts/Telma_Complete/Telma-Variable.woff2")
      format("woff2"),
    url("../../fonts/Telma_Complete/Telma-Variable.woff")
      format("woff"),
    url("../../fonts/Telma_Complete/Telma-Variable.ttf")
      format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/*Fonte Quilon*/
@font-face {
  font-family: "Quilone";
  src:
    url("../../fonts/Quilon_Complete/Quilon-Variable.woff2")
      format("woff2"),
    url("../../fonts/Quilon_Complete/Quilon-Variable.woff")
      format("woff"),
    url("../../fonts/Quilon_Complete/Quilon-Variable.ttf")
      format("truetype");
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}

/*Fonte Synonym*/
@font-face {
  font-family: "Synonym";
  src:
    url("../../fonts/Synonym_Complete/Synonym-Variable.woff2")
      format("woff2"),
    url("../../fonts/Synonym_Complete/Synonym-Variable.woff")
      format("woff"),
    url("../../fonts/Synonym_Complete/Synonym-Variable.ttf")
      format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}



/*estilos para os links*/

a:visited {
  color: inherit;
}
/*estilos html e .container*/
html{
    scroll-behavior: smooth;
    font-size: 16px;
}
body {
  margin: 0;
  background: linear-gradient(180deg, #007B43 19.6%, #68BE8D 42.1%, #68BE8D 49.3%, #007B43 76.7%); /* fallback: engines without oklab interpolation */
    background-repeat: no-repeat;
}

.backgroundCamada {
  background-image: url(../../assets/image/granulado.png);
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
    image-rendering: pixelated;
  mix-blend-mode: multiply;
  z-index: -1;
  pointer-events: none;
}

h2,h3{
  color: var(--fontColor);
      text-shadow:var(--txtShadow);

}

span{
  color: var(--spanColor);
      text-shadow:var(--txtShadow);

}
p{
      text-shadow:var(--txtShadow);

}
/* MOBILE STYLE */
@media screen and (max-width: 480px) {
html,.container{
  width: 100%;
  overflow-x: hidden;
    scroll-behavior: smooth;

    img{
      width: 40dvw;
    }
}

}