/*estilos gerais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  caret-color: transparent;
  list-style:none;
}

/*variaveis*/
:root {
  --fontQuilone: "Quilone";
  --fontSynonym: "Synonym";
  --fontHandWrite: "covered by your grace";
  --fontAclonica: "aclonica";
  --fontSize: 2em;
  --radiusNav: 50px;
  --margin: 2em auto;
  --centerMargin: 0 auto;
  --fontColor: #fdfffc;
  --spanColor:#a8e081;
  --transition: all 0.3s ease-in-out;
  --containerWidth: 70em;
}

/*Fonte Telma*/

@font-face {
  font-family: "Telma";
  src:
    url("../../fonts/Telma_Complete/Telma-Variable.woff2")
      format("woff2"),
    url("../../fonts/Telma_Complete/Telma-Variable.woff")
      format("woff"),
    url("../../fonts/Telma_Complete/Telma-Variable.ttf")
      format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/*Fonte Quilon*/
@font-face {
  font-family: "Quilone";
  src:
    url("../../fonts/Quilon_Complete/Quilon-Variable.woff2")
      format("woff2"),
    url("../../fonts/Quilon_Complete/Quilon-Variable.woff")
      format("woff"),
    url("../../fonts/Quilon_Complete/Quilon-Variable.ttf")
      format("truetype");
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}

/*Fonte Synonym*/
@font-face {
  font-family: "Synonym";
  src:
    url("../../fonts/Synonym_Complete/Synonym-Variable.woff2")
      format("woff2"),
    url("../../fonts/Synonym_Complete/Synonym-Variable.woff")
      format("woff"),
    url("../../fonts/Synonym_Complete/Synonym-Variable.ttf")
      format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}



/*estilos para os links*/

a:visited {
  color: inherit;
}
/*estilos html e body*/
html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
  background-color: #5d9967;
}

.backgroundCamada {
  background-image: url(../../assets/image/granulado.png);
  opacity: 0.2;
  position: fixed;
  filter: contrast(10%) brightness(0%);
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

h2,h3{
  color: var(--fontColor)
}

span{
  color: var(--spanColor);
}
